html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {box-sizing:border-box;}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 26px;
	line-height: 1.6em;
	font-weight: 300;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #666;
}

/* HEADING TAGS */ 

h1, h2, h3, h4 {
	font-weight: 700;
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

h1 {
	margin-top: 60px;
	margin-bottom: 0em;
}

h1 {
	font-size: 5em;
	text-shadow: 15px 25px 30px rgba(82,12,80,0.6);
}
h2 {
	font-size: 0.9em;
	font-weight: 300;
}

h3 {
	font-size: 0.6em;
	font-weight:300;
}

h4 {
	font-weight: 300;
	font-size: 1em;
	margin-bottom: 0;
}

.logo svg {
	width: 3.5em;
	height: 1em;
	color: #fff;
}

.logo:hover svg {color:#fff;}

p {margin-bottom: 1em;}

p:last-of-type {margin-bottom: 0;}

a {color:#ff0093;}

a:hover {color:#ff004e;}

section {
	width: 100%;
	padding: 1em 0;
}

div:focus {
	outline: 0;
	border: 0; 
	box-shadow: 0 0 0 transparent;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 0em 1em;
}

.grid {
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	margin: 0 auto;
}

.justify {
	width:100%;
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.start {
	justify-content: flex-start;
}

.alignCenter {
	align-items: center;
}

.grid > [class*='col-'] {margin:10px;}

.col-1 {width: calc(100% - 20px);}
.col-2 {width: calc(50% - 20px);}
.col-3 {width: calc(33% - 20px);}
.col-3x2 {width: calc(66% - 20px);}

.grid > .marBot0 {
	margin-bottom: 0;
}

#mainBody {
	background: #f9f9f9;
}

.card {
	background: #fff;
	border: 1px solid #ddd;
	padding: 0;
}

#instructions img {
	width: 100%;
	height: auto;
	display: block;
	border-bottom: 1px solid #ddd;
}

#instructions h4 {
	font-size: .8em;
	padding: 1em 1rem 0;
	margin: .5rem 0 .4em;
	line-height: 1.4em;
}

#instructions p {
	font-size: .6em;
	padding: 0 1rem .5em;
	line-height: 1.4em;
	margin-bottom: 1.5rem;
}

.toggle {
	display: inline-block;
	padding: 0.5em 0em 0.5em 0.5em;
}

.radioWrap {
	display: flex;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.radioWrap label {
	font-size: 0.5em;
	line-height: 2em;
	display: inline-block;
	padding: 0em 1em;
	transition: 0.3s ease-in;
	cursor: pointer;
}

.radioWrap label {
	border-right: 1px solid #ddd;
}

.radioWrap input {
	position: absolute;
	opacity: 0;
}

.radioWrap input[type="radio"]:checked+label {
  background-color: #333;
	color:#fff;
}

.forms {position: relative;}

.forms > * {
	width: 100%;
}

.forms h2 {
	margin: 0;
	padding: 0.5em;
}

textarea {
	font-family: monospace;
	font-size: 12px;
	height: 200px;
	background: #333;
	color: #ccc;
	border: 1px solid #ddd;
	margin: 0;
	display:block;
}

textarea:focus {
	border: 1px solid #ff004e;
}

.instructions {
	border: 1px solid #fff;
	text-decoration: none;
	padding: 0.5em 1.5em;
	border-radius: 20px;
}

.instructions:hover {
	background: #fff;
}

button {
	background: #fff;
	border: 1px solid #ddd;
	font-size: 0.8em;
	line-height: 1.4em;
	border-radius: 3px;
	padding: 0.5em 1.5em;
	margin: 0;
	cursor: pointer;
	box-shadow: 0 1px 1px #eee;
	transition: 0.3s ease-in;
	display: inline-block;
}

.card button {
	border: 0px solid transparent;
}

button[disabled] {
	color: #ddd;
	pointer-events: none;
}

button:not([disabled]):hover {
	background:#eee;
	color: #555;
}

button:active {
	transform: translateY(2px);
	background:#f5f5f5;
	box-shadow: 0 0px 1px #eee;
}

symbol *, svg, svg use {fill: currentColor;}

svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	overflow: hidden;
	transition: 0.3s ease-in;
}

/* ICON HOLDER */

#iconHolder:empty {
	display: none;
}

#iconHolder {
	margin-top: 30px;
}

#iconHolder > * {
	margin: 5px;
}

/* SOCIAL FOLLOW ICONS */

#socialFollowMe a {
	color: #ccc;
}

#socialFollowMe svg {
	font-size: 1.5em;
	margin: 5px;
	color: inherit;
}

#socialFollowMe a:hover {
	color:#ff004e;
}

#topBar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	padding:  0.2em 1em;
	background: #fff;
	border-bottom: 1px solid  #eee;
}

#topBar span {
	display: inline-block;
	vertical-align: middle;
}

#topBar iframe {
	display: inline-block;
	vertical-align: middle;
}

.topGithub {
	color: inherit;
	text-decoration: none;
	transition: 0.3s ease-in;
}

.topGithub:hover {
	color:#ff004e;
}

.topGithub svg {
	display: inline-block;
	font-size: 2.5em;
	vertical-align: middle;
	margin-right: 5px;
}

#st-1.sharethis-inline-share-buttons {display: inline-block;}

#st-1.sharethis-inline-share-buttons .st-btn {
	color:#fff;
	vertical-align: middle;
	margin-right: 0;
	margin-left: 5px;
}

#st-1.sharethis-inline-share-buttons .st-btn svg, #st-1.sharethis-inline-share-buttons .st-btn:hover svg  {
	color: inherit;
}

#st-1.sharethis-inline-share-buttons .st-btn:hover {top: 0;}

.resetAll {
	border-radius: 20px;
	text-align: center;
	margin: 0.5em 0px 0.2em;
	border: 1px solid #ddd;
}
.appendSample {
	border-radius: 20px;
	text-align: center;
	max-width: 190px;
}

button svg {
	font-size: 1.5em;
	color: inherit;
}

.inline {display: inline-block;}

.textCenter {text-align:center;}

.smallText {font-size: 0.5em;}

.whiteText {color:white;}

.lightGrey {color:#999;}

.gradient {background-image: linear-gradient(to right bottom, #ff0093, #ff0082, #ff0070, #ff005f, #ff004e);}

hr {
	border-top: 1px solid #eee;
	border-bottom: 0px solid #eee;
	margin: 0;
	width: 100%;
}

@media only screen and (max-width: 700px) {

	#topBar.justify {justify-content:center;}

	.topGithub {display:none;}

	h1 {font-size:3em;}

	.col-2, .col-3, .col-3x2 {width: calc(100% - 20px);}

	.resetAll, .appendSample {position:static;}

	#rawSVG {margin-top: 10px;}

}




